# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# dotenv environment variables
.env
.env.*

# build outputs
dist/
build/

# OS & editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
